@font-face {
    font-family: CyrillicPixel7;
    src: url(fonts/CyrillicPixel7.ttf);
}

@font-face {
    font-family: PixelOperator;
    src: url(fonts/PixelOperator.ttf);
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes vibrate {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes bounce {
	0% {
		transform: translate(-25px, 25px);
	}

	25% {
		transform: translate(-25px, -25px);
        rotate: -30deg;
	}

	50% {
		transform: translate(25px, 25px);
	}

	75% {
		transform: translate(25px, -25px);
        rotate: 30deg;
	}

	100% {
		transform: translate(-25px, 25px);
	}
}

@keyframes juicy-bounce {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

:root {
    --dark: #1D0A1B;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-image: url(images/pexels-denys-mikhalevych-12534263.png);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    font-family: CyrillicPixel7;
    color: #fff;
}

h1 {
    padding-top: 32px;
    display: block;
    text-align: center;
    font-weight: normal;
    color: var(--dark);
    font-size: 3.5em;
}

h2 {
    padding-bottom: 32px;
    display: block;
    text-align: center;
    font-weight: normal;
    color: #FFF;
    font-size: 2em;
    text-shadow: 2px 2px 0px rgba(29,10,27,1);
}

#clock-image {
    margin-right: 1em;
    cursor: pointer;
}

#clock-image.clicked {
    animation: juicy-bounce 0.5s;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}

.time p {
    color: #FFF;
    padding: 0;
    text-shadow: 2px 2px 0px rgba(29,10,27,1);
}

.container {
    display: flex;
    min-height: 1000px;
    padding: 0px 150px 100px 150px;
}
  
.main-container {  
    background-color: #fff;
    border: 3px solid #fff;
    outline: 3px solid var(--dark);
    height: 500px;
}

.main-container:first-of-type {
    margin-bottom: 50px;
}

.left {
    flex: 2.5;
}
  
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
  
.small {
    flex: 1;
    background-color: #fff;
    border: 3px solid #fff;
    outline: 3px solid var(--dark);
}

.small:not(:nth-last-of-type(1)) {
    margin-bottom: 50px;
}

div > section {
    background-color: var(--dark);
    padding: 15px 10px;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    height: 36px;
}

div > section p {
    padding-left: 16px;
    font-family: CyrillicPixel7;
}

div > p {
    font-family: PixelOperator;
    color: var(--dark);
    font-size: 1.5em;
    padding: 1em;
}

div > ul {
    font-family: PixelOperator;
    color: var(--dark);
    font-size: 1.25em;
    padding: 1em;
    list-style: inside;
}

.window-img {
    height: 40px;
}

.certification {
    border: solid 1px #000;
}

.animal-container {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animal {
    height: 80%;
    image-rendering: pixelated;
    cursor: pointer;
}

#apyr {
    animation: vibrate 2s ease 0s infinite normal forwards;
}

#xaba {
    animation: pulse 4s ease 0s infinite normal forwards;
}

#pinhvin {
    animation: bounce 4s linear 0s infinite normal forwards;
}

#zoo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background: transparent;
    pointer-events: none;
}

#blackout-text {
    display: none;
}

#blackout-text h3 {
    color: var(--dark);
    font-family: PixelOperator;
    padding: 1em;
    text-align: center;
    font-size: 2em;
}